.container {
  padding: calc(100vh / 5) 0;
}

.title {
  display: block;
  margin-bottom: 2rem;
}

.text {
  display: block;
}

.lastText {
  display: inline-block;
  margin-top: 2rem;
  padding: 0 2px;
}
