@use "sass:meta";
@use "sass:map";

$typography-colors: (
  default: #f2f2f2,
  inherit: inherit,
  success: #0fa626,
  error: #c21906,
  warning: #db8b0b,
);

$tokens-map: (
  text: (
    color: $typography-colors,

    size: (
      xs: 0.75rem,
      sm: 0.875rem,
      md: 1rem,
      lg: 1.125rem,
      xl: 1.25rem,
    ),

    line-height: (
      xs: 1rem,
      sm: 1.25rem,
      md: 1.5rem,
      lg: 1.75rem,
      xl: 1.75rem,
    ),
  ),

  heading: (
    color: $typography-colors,

    size: (
      xs: 1.25rem,
      sm: 1.5rem,
      md: 1.75rem,
      lg: 2rem,
      xl: 2.5rem,
    ),

    line-height: (
      xs: 1.5rem,
      sm: 1.75rem,
      md: 2rem,
      lg: 2.25rem,
      xl: 2.75rem,
    ),
  ),

  stack: (
    gap: (
      xs: 4px,
      sm: 8px,
      md: 16px,
      lg: 24px,
      xl: 36px
    )
  ),

  container: (
    size: (
      xs: 480px,
      sm: 640px,
      md: 768px,
      lg: 1024px,
      xl: 1280px
    )
  )
);

@mixin generate-tokens($map, $prefix: "") {
  @each $key, $value in $map {
    $name: if(
      sass($prefix == ""): $key; else: "#{$prefix}-#{$key}",
    );

    @if meta.type-of($value) == "map" {
      @include generate-tokens($value, $name);
    } @else {
      --#{$name}: #{$value};
    }
  }
}

:root {
  @include generate-tokens($tokens-map);
}
